/* FONTS */
@font-face {
	font-family: 'SFProDisplay';
	src: url('../fonts/SFProDisplay-Black.woff2') format('woff2'),
	    url('../fonts/SFProDisplay-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}	

@font-face {
	font-family: 'SFProDisplay';
	src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
	    url('../fonts/SFProDisplay-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SFProDisplay';
	src: url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
	    url('../fonts/SFProDisplay-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SFProDisplay';
	src: url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
	    url('../fonts/SFProDisplay-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}


html, body {
	padding: 0;
	margin: 0;
    background-color: #0b0b0b;
}

.mainMenu{
	background-color: #0b0b0b;
}

*{
	font-family: "SFProDisplay";
	color: white;
}

.link:hover{
	cursor: pointer;
	text-decoration: underline;
	color: white;
}

.link{
	color: white;
	text-decoration: none;
}

.header{
	min-width: 50%;
	max-width: 60%;
	margin-right: auto;
	margin-left: auto;
	overflow-x: auto;
	position: relative;
	margin-top: 5vh;
}

.header h1{
	font-weight: bold;
	color: white;
	font-size: 20px;
	line-height: 20px;
}


.item:hover{
	background-color: #101010;
}

.highlightable:hover{
	color: #db0023;
	text-decoration: underline;
	cursor: default;
}

button{
	float: right;
	background-color: #db0023;
	border: none;
	font-weight: bold;
	font-size: 12px;
	width: 70px;
	height: 20px;
	line-height: 20px;
	border-radius: 10px;
}

.headermenu{
	padding-top: 50px;
	height: 50px;
	position: sticky;
	top: 0;
	width: 55vw;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
}

.menuItem {
	margin-right: 20px;
	font-weight: bold;
	text-decoration: none;
}

.menuItem:hover{
	color: #db0023;
}

#loginFormToggle, #mobileLogExit, #mobileLogDiv{
	display: none;
}

.mobileUserPanel{
	display: none;
}

.pcUserPanel{
	display: block;
}

@media only screen and (max-width: 1100px) {
	.mobileUserPanel{
		display: block;
	}

	.pcUserPanel{
		display: none;
	}

	.headermenu{
		padding-top: 3vh;
		height: 5vh;
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}

	.menuItem {
		font-size: 1.7vh;
		margin-right: 20px;
	}

	.menuItem:hover{
		color: #db0023;
		font-weight: bold;
	}

	#mobileLogDiv{
		display: block;
		padding-top: 5vh;
		padding-bottom: 5vh;
	}

	#mobileLogDiv #loginForm{
		width: 90%;
    	margin-left: auto;
    	margin-right: auto;
	}

	#loginFormToggle{
		display: block;
		height: 2vh;
		padding-left: 2vh;
		padding-right: 2vh;
		text-align: center;
		font-size: 1.5vh;
		border-radius: 4vh;
		width: unset;
		line-height: 1vh;
	}

	#mobileLogExit{
		display: block;
		float: left;
		text-align: center;
		font-weight: bold;
		border-radius: 100%;
    	font-size: 1.5vh;
    	line-height: 3vh;
    	height: 3vh;
    	width: 3vh;
    	padding:unset;
    	position: relative;
    	top: 1vh;
    	left: 1vh;
    	background-color: grey;
	
	}

	#desktopLogin{
		display: none;
	}

	#mobileLog{
		width: 100%;
		background-color: #101010;
		z-index: 100;
		position: relative;
    	top: 3.5vh;
    	border-radius: 2vh;
    	box-shadow: 1px 7px 13px 3px #00000096;
	}

	#mobileLogDiv #loginField{
		font-size: 2vh;
    	height: 3vh;
    	border-radius: 0px;
    	display: block;
    	margin-top: 2vh;
    	width: 80vw;

	}

	input::-webkit-input-placeholder { /* Edge */
	  color: grey;
	  font-size: 2vh; 
	}

	input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	  color: grey;
	  font-size: 2vh; 
	}

	input::placeholder {
	  color: grey;
	  font-size: 2vh; 
	}

	.mobileLoginButton{
		display: block;
		height: 2vh;
		padding-left: 2vh;
		padding-right: 2vh;
		text-align: center;
		font-size: 1.7vh;
		border-radius: 4vh;
		width: unset;
		float: left;
		margin-top: 2vh;
    	line-height: 1.5vh;
	}


	.mobileUserPanel {
		position: relative;
		float: right;
	}

	.menu-dropdown {
	  	display: none;
	  	position: absolute;
	  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  	z-index: 1;
	  	top: 2.1vh;
	  	width: 12vh;
	  	right: 0.2vh;
	}

	.menu-dropdown a {
		background-color: #101010;
	  	color: white;
	  	text-decoration: none;
	  	display: block;
		font-weight: bold;
		font-size: 1.3vh;
		width: 100%;
		height: 3vh;
		text-align: center;
		line-height: 3vh;
	}

	.menu-dropdown a:hover {background-color: #212121;}
	.mobileUserPanel:hover .menu-dropdown {display: block;}

	.mobileUserPanel button{
		display: block;
		height: 2vh;
		padding-left: 2vh;
		padding-right: 2vh;
		text-align: center;
		font-size: 1.5vh;
		border-radius: 4vh;
		width: unset;
    	line-height: 1vh;
	}

	.mobileUserPanel .menu-dropdown button{
		margin-top: 0.2vh;
	}

}

/*VIDEO DISPLAY GRID*/


.specialHolder{
	min-width: 24%;
	max-width: 100%;
	width: 24%;
	display: inline-block;	
	margin-left: auto;
	margin-right: 1%;
	vertical-align: top;
	margin-bottom: 10px;
	/*height: 420px;*/
}

.specialHolder .thumbnail{
	width: 100%;
	padding-top: 130%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 10px;
}

.videoHolder{
	min-width: 33%;
	max-width: 100%;
	display: inline-block;	
	margin-left: auto;
	margin-right: 0.3%;
	height: 310px;
}

.videoHolder .thumbnail{
	width: 100%;
	padding-top: 56.25%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 10px;
}

.highlightable:hover{
	cursor: pointer;
}

.artisticon{
	width: 100%;
	height: 50px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 100%;
}

.vd_left{
	height: calc(100% - 56.25% - 10px);
	width: 50px;
	float: left;
	padding-right: 5px;
}

.vd_right{
	width: calc(100% - 70px);
	height: calc(100% - 56.25% - 10px);
	float: right;
}

.vd_title{
	display: -webkit-box;
	max-width: 100%;
	font-size: 17px;
	line-height: 1.1;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 290px;
	font-weight: 500;
}

.vd_artistName{
	width: 290px;
	font-size: 13px;
	font-weight: normal;
	color: #aaa;
}



.vd_artistName:hover{
	color: white;
	cursor: pointer;
}

.vd_stats{
	width: 290px;
	font-size: 13px;
	font-weight: normal;
	color: #aaa;
}

.videoGridContainer{
	border-bottom: 1px white solid;
}

.fa_left{
	width: 204.183px;
	float: left;
	margin-right: 100px;
	text-align: center;
}

.fa_icon{
	width: 100%; 
	height: 204.183px; 
	border-radius: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.vh_duration{
	width: 50px;
	background-color: #000;
	height: 20px;
	bottom: 10px;
	position: relative;
	left: 300px;
	border-radius: 20px;
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
}

.vp_container{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 56.25%; 
}

.poster{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 52%; 	
	width: 40%;
}

.infoBox{
	/*background-color: yellow;*/
    width: 58%;
    margin-left: 2%;
    float: right;
}

.artwork{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 400px;
	height: 400px;
	float: left;
}

.highlightable2:hover{
	text-decoration: underline;
	color: white;
}

.highlightable2{
	text-decoration: none;
	color: #aaa;
}

.song{
	width: 100%;
	height: 50px;
}

.song:hover{
	background-color: #131313;
}

.albumHolder{
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

.ah_artwork{
	width: 250px;
	height: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ah_details{
	width: 250px;
}


input::-webkit-input-placeholder { /* Edge */
  color: grey;
  font-size: 15px; 
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: grey;
  font-size: 15px; 
}

input::placeholder {
  color: grey;
  font-size: 15px; 
}

#submitButton{
    background-color: #db0023;
    border: none;
    border-radius: 20px;
    height: 20px;
    width: 80px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin: 20px;
}

#apollo-logo{
    position: absolute;
    width: 20%;
    bottom: 5%;
    left: 5%;
}

#left-show {
	background-color: #000;
    background-image: url(../images/update-3.jpg);
    background-position: center;
    background-size: cover;
}

#loginContainer * {
	color: #fff;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
}

#loginContainer {
	width: 80%;
	margin: 0 auto;
	position: relative;
	max-width: 1024px;
}

#submitButton:hover {
	cursor: pointer;
}

.hasAccountText span {
	font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.hasAccountText {
	text-align: center;
}

#loginText {
    padding: 45px;
    display: table-cell;
}

#loginText h1 {
    color: #07d159;
    font-size: 60px;
    font-weight: bold;
}

#loginText h2 {
    margin: 35px 0;
}

#loginText ul {
    padding: 0;
}

#loginText li {
    font-size: 20px;
    list-style-type: none;
    padding: 5px 30px;
    background: url(../images/icons/checkmark.png) no-repeat 0 0;
}

#inputContainer .errorMessage {
    color: #07d159;
    font-size: 12px;
    display: block;
}

.errorMessage{
    display: block;
    margin-left: 20px;
    font-family: SFProDisplay;
}

#loginField{
    width: 40%; 
    height: 40%; 
    font-size: 15px; 
    background-color: #fff0; 
    border-top: none; 
    border-left: none; 
    border-right: none; 
    border-color: white;
    font-weight: bold;
    color: white;
}

.item2:hover{
	background-color: #131313;
}

.item2{
	overflow: auto;
	border-top: 1px #535353 solid;
	margin-top: 10px;
	padding-top: 20px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

table, th, td{
	border-collapse: collapse;
	border-spacing: 20px;
	padding: 10px;
}

table{
	width: 100%;
}

tr:nth-child(even) {
	background-color: #1d1d1d;
}

/*Carousel Gallery*/
.carousel-gallery {
  margin: 0;
  padding: 0 30px;
  height: 200px;
}
.carousel-gallery .swiper-slide a {
  display: block;
  width: 100%;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, 0.2);
}
.carousel-gallery .swiper-slide a:hover .image .overlay {
  opacity: 1;
}
.carousel-gallery .swiper-slide a .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.carousel-gallery .swiper-slide a .image .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.8);
  text-align: center;
  opacity: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.carousel-gallery .swiper-slide a .image .overlay em {
  color: #fff;
  font-size: 26px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
}
.carousel-gallery .swiper-pagination {
  position: relative;
  bottom: auto;
  text-align: center;
  margin-top: 25px;
}
.carousel-gallery .swiper-pagination .swiper-pagination-bullet {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.carousel-gallery .swiper-pagination .swiper-pagination-bullet:hover {
  opacity: .7;
}
.carousel-gallery .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #d63031;
  transform: scale(1.1, 1.1);
}

/*# Carousel Gallery*/
.plugins {
  text-align: center;
}
.plugins h3 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Arial;
  text-transform: uppercase;
  color: #111;
}
.plugins a {
  display: inline-block;
  font-family: Arial;
  color: #777;
  font-size: 14px;
  margin: 10px;
  transition: all .2s linear;
}
.plugins a:hover {
  color: #d63031;
}

.artistMenu{
	margin-top: 50px;
}

.artistMenu a{
	color: white;
	font-weight: bold;
	margin-right: 10px;
	cursor: pointer;
}

.artistMenu a:hover{
	color: #db0023;
	text-decoration: underline;
}

.showSingle .clicked a{
  	color: #db0023;
}

.awardIcon{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-position: center;
    background-size: cover;
    position: relative;
  	display: inline-block;
  	margin: 3px 3px 3px 0;

}

.awardIcon .tooltiptext {
  	visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    left: 110%;
    font-size: 12px;
}

.awardIcon:hover .tooltiptext {
  visibility: visible;
}

.awardIcon:hover{
	cursor: pointer;
	box-shadow: inset 0px 0px 0px 2px #db0023;
    box-sizing: border-box
}

.dg, .main, .a{
  display: none;
}